@page "/"
@using Models;
@using Data;
@inject NavigationManager NavigationManager
<h1>Las Pollas Hermanas Catalog</h1>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Size</th>
        <th>Expire Date</th>
        <th>Material</th>
        <th>Color</th>
        <th>Stock</th>
    </thead>
    @if (dildos is null)
    {
        <p><em>Loading ...</em></p>
    }
    else
    {
        <tbody>
            @foreach (var dildo in dildos)
            {
                <tr>
                    <td>@dildo.Id</td>
                    <td>@dildo.Name</td>
                    <td>@dildo.Price</td>
                    <td>@dildo.Size</td>
                    <td>@dildo.ExpireDate</td>
                </tr>
            }
        </tbody>
    }
</table>
<div class= "row mb-4">
        <div class ="col-sm-6">
            <button type="button" class="btn btn-primary" @onclick="CreateDildo">New Dildo</button>
        </div>
</div>

@code
{
    private Dildo[]? dildos;
    protected override void OnInitialized()
    {
        dildos = DildoClient.GetDildos();
    }

    private void CreateDildo()
    {
        NavigationManager.NavigateTo("dildo");
    }
}